#poststuff {
	.postbox.csv-exporter-postbox {
		.inside {
			margin: 0;
			padding: 0;

			.form-field {
				position: relative;
				margin: 0;
				padding: 15px 12px;
				border-top: #EEEEEE solid 1px;
				clear: both;

				&:first-child {
					border-top-width: 0;
				}

				.form-field--label {
					vertical-align: middle;
					display: block;
					font-weight: bold;
					margin: 0 0 3px;
					padding: 0;

					label {
						display: block;
						font-weight: bold;
						margin: 0 0 3px;
						padding: 10px 0;
					}
				}

				.form-field--input {
					vertical-align: top;
					padding: 10px 0;

					.csv-export-date-picker {
						width: 100%;
						max-width: 250px;
					}
				}
			}

			.form-field,
			.form-field--label,
			.form-field--input {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				position: relative;
			}
		}
	}
}
